<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HHNetworkingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D49D379F1CAC0EE100C26B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D49D37B81CAC0EE100C26B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D49D37C31CAC0EE100C26B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
